<!DOCTYPE html>
<html>
    <head>
        <title>Welcome {name}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <p><strong style="color: #606060; font-family: Arial, Helvetica, sans-serif; font-size: 15px;"><span style="color: #40b1df;">Hi Admin</span></strong><br style="color: #606060; font-family: Arial, Helvetica, sans-serif; font-size: 15px;" /> &nbsp;</p>
		<p><span style="color: #606060; font-family: Arial, Helvetica, sans-serif; font-size: 15px;">A new user {name} registered at GamersBD</span></p>
		<p><span style="color: #606060; font-family: Arial, Helvetica, sans-serif; font-size: 15px;">His&nbsp;login credential attached below.</span></p>
		<p><strong><span style="color: #606060; font-family: Arial, Helvetica, sans-serif; font-size: 15px;">Username: {email}</span></strong></p>
		<p>&nbsp;</p>
		<p><a href="{site_url}"><strong><span style="color: #606060; font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 15px;">View Users</span></span></strong></a></p>
    </body>
</html>
