<!DOCTYPE html>
<html>
    <head>
        <title>Welcome {name}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <p>
            <strong style="color: rgb(96, 96, 96); font-family: Arial, Helvetica, sans-serif; font-size: 15px;"><span style="color: rgb(64, 177, 223);">Hi {name}</span></strong><br style="color: rgb(96, 96, 96); font-family: Arial, Helvetica, sans-serif; font-size: 15px;" />
            &nbsp;</p>
        <p>
            <span style="color: rgb(96, 96, 96); font-family: Arial, Helvetica, sans-serif; font-size: 15px;">Thank you very much for joining with us. Our goal is to decorate your gaming planet as like your dream. So, be with us, purchase more and get amazing offers from us always.</span></p>
        <p>
            <span style="color: rgb(96, 96, 96); font-family: Arial, Helvetica, sans-serif; font-size: 15px;">Your login credential attached below.</span></p>
        <p>
            <strong><span style="color: rgb(96, 96, 96); font-family: Arial, Helvetica, sans-serif; font-size: 15px;">Username: {email}</span></strong></p>
        <p>
            <strong><span style="color: rgb(96, 96, 96); font-family: Arial, Helvetica, sans-serif; font-size: 15px;">Password: {password}</span></strong></p>
        <p>
            <a href="{site_url}"><strong><font color="#606060" face="Arial, Helvetica, sans-serif"><span style="font-size: 15px;">Login Here</span></font></strong></a></p>
        <p>
            &nbsp;</p>
        <p>
            &nbsp;</p>
    </body>
</html>
